<app-header></app-header>
<app-nav></app-nav>


<div class="box-div">

    <mat-card>
        <mat-card-title>Excluir</mat-card-title>
        
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome do produto" [value]="produto?.nome_produto" name="nome_produto" disabled>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Quantidade" type="text" mask="separator.2" separatorLimit="10000" thousandSeparator="." [value]="produto?.quantidade" name="quantidade" disabled>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Status do produto" [value]="produto?.status_produto" name="status_produto" disabled>
            </mat-form-field>
        </form>

        <button mat-raised-button (click)="deleteProduto()" color="warn">
            Excluir
        </button>

        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>

    </mat-card>

</div>