<app-header></app-header>
<app-nav></app-nav>


<div class="box-div">

    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            
            <div style="height: 1000px;">
                <div style="width: 100%; height: 380px; overflow: hidden;">
                    <h2 style="text-align: center;">Estoque</h2>
                    <iframe height="616" width="100%" frameborder="0" src="http://spaceps.ddns.net:8221/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2Festoque2&oid=Jh_%5EuzsUs5EQdi_2e_inWsuphOBrGxvPC7m1OjTohQ4O8Xfyn4EZ_efCo_CQWMPzoAebOf9aiBaRjMMQQBvI1n3NSkZNXUJudrIg4rUIPCl0OpmcReGItsgLibQJ1FeZ"></iframe>
                </div>

                <br>
                <br>
                
                <div style="float: left;height: 360px;width: 50%;overflow: hidden;">
                    <h2 style="text-align: center;">Saída de produtos</h2>
                    <iframe height="340px" width="100%" frameborder="0" src="http://spaceps.ddns.net:8221/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FMovimentacoes%2520--%253E&oid=heejqZJYiiUwudWvh3%5Eb9oMMxpi4AKqtpfB58vgyOqqovLnkVGzJjEeElzzzmFZiytZE1SNAD4MfAuTVxibioPuw5CKQuhG6ndDJvqtgTldD8U7ETka73okqqFErQx7WiPfzuThQMkR"></iframe>
                </div>

                <div style="float: left;height: 360px;width: 50%;overflow: hidden;">
                    <h2 style="text-align: center;">Volume de vendas</h2>
                    <iframe height="340px" width="100%" frameborder="0" src="http://spaceps.ddns.net:8221/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2FVendas%2520p%2520user&oid=S7w9IzrXC%5Ej2FGpOOTu_qtg4W3r7OGz2IIYdysRW1uFKODw9PqRJOi6Cz7iuYV3PGvC_95rMFfG543pcfdsyrBa_wzozL49BSrDUxf8MCEi8m1Rgz9h51h9epKBY9E_PfTfZ"></iframe>
                </div>

                <br>
                <br>

                <div style="width: 100%; height: 346px; overflow: hidden;">
                    <h2 style="text-align: center;">Saída vs entrada</h2>
                    <iframe height="400" width="100%" frameborder="0" src="http://spaceps.ddns.net:8221/en-US/embed?s=%2FservicesNS%2Fadmin%2Fsearch%2Fsaved%2Fsearches%2Ftimeline&oid=sDZUjAJJq_W6BJDNojmhAyjxLe9Wh8AEzWy11CNGfHbJZBlrHB2hg7v0HPtMZG28hUoz4mSacHdoRTh9mTXzv6DNPQ5ejewq77d5BWlyNmu091Cb6i32qrypwZjxZRfG"></iframe>
                </div>
            </div>

        </mat-card-title>
    </mat-card>

</div>


<br>
<br><br>
<br>