<app-header></app-header>
<app-nav></app-nav>


<div class="box-div">

    <mat-card>
        
        <mat-card-title>Excluir</mat-card-title>
        
        <form>
            
            <mat-form-field>
                <input matInput placeholder="ID do fornecedor" [value]="fornecedor?.idfornecedor" name="idfornecedor" disabled>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Razão social" [value]="fornecedor?.razao_social" name="razao_social" disabled>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="CNPJ" [value]="fornecedor?.cnpj" name="cnpj" disabled>
            </mat-form-field>

        </form>

        <button mat-raised-button (click)="deletefornecedor()" color="warn">
            Excluir
        </button>

        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
        
    </mat-card>

</div>