<app-header></app-header>
<app-nav></app-nav>


<div class="box-div">

<mat-card>
    <mat-card-title>Categorias</mat-card-title>
    
    <form #clienteForm="ngForm">

        <mat-form-field>
            <input matInput placeholder="Nome da categoria" type="text" [(ngModel)]="categoria.nome_categoria" name="nome_categoria" required>
        </mat-form-field>
       
    </form>

    <button mat-raised-button (click)="createcategoria()" color="primary" [disabled]="!clienteForm.form.valid">       
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
    
</mat-card>

</div>