<app-header></app-header>
<app-nav-administrador></app-nav-administrador>


<div class="box-div">

    <mat-card>
    
        <mat-card-title>Alterar</mat-card-title>
        
        <form #clienteForm="ngForm">
         
            <!-- <mat-form-field>
                <input matInput placeholder="idusuario" [(ngModel)]="administrador.idusuario" name="idusuario">
            </mat-form-field> -->

            <mat-form-field>
                <input matInput placeholder="login" [(ngModel)]="administrador.login" name="login" required>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="nome" [(ngModel)]="administrador.nome" name="nome" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" mask="000000" placeholder="senha" [(ngModel)]="administrador.senha" name="senha" required>
            </mat-form-field>


        </form>
        
        <button mat-raised-button (click)="updateadministrador()" color="primary" [disabled]="!clienteForm.form.valid"> 
            Atualizar
        </button>

        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    
    </mat-card>

</div>